{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block header %}Login{% endblock %}

{% block body %}
<div class="container-login">
    <form action="" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
        {% if error_username != "" %}
            <span>{{ error_username }}</span>
        {% endif %}

        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required/>
        {% if error_password != "" %}
            <span>{{ error_password }}</span>
        {% endif %}

        <input type="submit" id="login-form" class="login-button" name="login" value="LOGIN"/>
    </form>

    <div class="register-div">
        <a href="{{ url_for('register') }}">Create account</a>
    </div>
</div>
{% endblock %}